body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    color: white;
  }
  .main {
    flex: 1;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  footer {
    text-align: right;
    color: rgb(255,62,181);
  }
  
  /* THIS IS MY CSS*/
  
  .creative {
    color: rgb(255,62,181);
  }
  
  .tile-image {
    height: 200px;
    float: left;
    margin-right: 50px;
  }
  
  .card {
    width: 45%;
  }
  
  .right {
    float: right;
  }
  
  .left {
    float: left;
  }
  
  @media (min-width: 400px) and (max-width: 700px) {
    .logo {
      width: 100px;
    }
  
    h1 {
      font-size: 3.5rem;
      text-align: center;
  
    }
  
   .card {
    width: 100%;
    display: inline;
    margin-bottom: 30px;
    text-align: justify;
  
   }
  
   .card img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
   }
  }